<div data-th-insert="cms/sel_post/postSel"></div>   
<div class="container-fluid p-t-15">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
      <header class="card-header"><div class="card-title">关联-<th:block th:text="${term.name}"></th:block></div></header>
        <div class="card-body">
          <div id="toolbar" class="toolbar-btn-action">
            <button id="btn_add" type="button" class="btn btn-primary m-r-5" data-toggle="modal" data-target="#selPostModel">
              <span class="mdi mdi-plus" aria-hidden="true"></span>新增关联
            </button>
            <button id="btn_delete" type="button" class="btn btn-danger" onclick="cancelRelation()">
              <span class="mdi mdi-window-close" aria-hidden="true"></span>取消关联
            </button>
          </div>
           <div class="table-responsive">  
             <table class="table text-nowrap" id="postTable"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script th:inline="javascript">
    var termId = [[${termId}]];
    var postType = [[${postType}]];
</script>
<link rel="stylesheet" type="text/css" href="/js/bootstrap-table/bootstrap-table.min.css">
<script type="text/javascript" src="/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/js/app/sel_post/post.js"></script>