<style>
/*bootstrap-select插件用到的，也可以不用*/
.bootstrap-select.open .dropdown-toggle {
    border-color: #33cabb!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 202, 187, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(51, 202, 187, .6);
}
.bootstrap-select.open .dropdown-menu.open {
    border: 1px solid #ebebeb;
}
/*示例二、三、四、五*/
.p-t-5 {
    padding-top: 5px;
}
</style> 
<link href="/css/materialdesignicons.min.css" rel="stylesheet">
                <div class="modal fade" id="addSkuModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalGridTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title" id="exampleModalGridTitle">新增库存</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
		                <form id="skuAddForm" class="row no-gutters">
		                <script id="skuList" type="text/x-jquery-tmpl">
		                	<div class="form-group col-md-12">
				                <label>${spu.spu}</label>
				                 <select class="form-control spuItem" spu-id="${spu.id}" id="spu-${spu.id}">
                                   {{each vals}}
				                     <option value="${$value.id}">${$value.spuValue}</option> 
                                   {{/each}}   
				                 </select>
				            </div>	
                         </script>		
                         	 <div class="form-group col-md-12" id="row-stock">
				                <label for="value">库&nbsp;&nbsp;存</label>
                                <input class="form-control js-tags-input" type="number" id="input-stock" name="stock"  placeholder="请输入库存"/>
				            </div>	
                         	 <div class="form-group col-md-12" id="row-stock">
				                <label for="value">价&nbsp;&nbsp;格</label>
                                <input class="form-control js-tags-input" type="number" id="input-price" name="price"   placeholder="价格"/>
				            </div>	
                         	 <div class="form-group col-md-12" id="row-stock">
				                <label for="value">原&nbsp;&nbsp;价</label>
                                <input class="form-control js-tags-input" type="number"  id="input-originPrice" name="originPrice"  placeholder="原价"/>
				            </div>					            				            		            				                            		                  		                  		                  
		                </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-close">关闭</button>
                        <button type="button" class="btn btn-primary"  name="save" id="skuAddBtn">保存</button>
                        <button class="btn-hide"></button>
                      </div>
                    </div>
                  </div>
                </div>