      <div class="container-fluid p-t-15">
        
        <div class="row">
          
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <form method="" action="#!" class="site-form" id="passwordForm">
                  <div class="form-group">
                    <label for="old-password">旧密码</label>
                    <input type="password" class="form-control" name="oldPassword" id="old-password" placeholder="输入账号的原登录密码">
                  </div>
                  <div class="form-group">
                    <label for="new-password">新密码</label>
                    <input type="password" class="form-control" name="newPassword" id="new-password" placeholder="输入新的密码">
                  </div>
                  <div class="form-group">
                    <label for="confirm-password">确认新密码</label>
                    <input type="password" class="form-control" name="confirmpwd" id="confirm-password" placeholder="请输入正确的邮箱地址">
                  </div>
                </form>
               <button type="submit" class="btn btn-primary" id="updatePwdBtn">修改密码</button> 
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
 <script type="text/javascript" src="/js/app/user/updatePassword.js"></script>         