<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jthink.shop.mapper.MemberAddressMapper">
  <resultMap id="BaseResultMap" type="com.jthink.shop.entity.MemberAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_mobile" jdbcType="VARCHAR" property="contactMobile" />
    <result column="zipcode" jdbcType="VARCHAR" property="zipcode" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="districts" jdbcType="VARCHAR" property="districts" />
    <result column="addr_details" jdbcType="VARCHAR" property="addrDetails" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, member_id, contact_name, contact_mobile, zipcode, province, city, districts, 
    addr_details, create_time
  </sql>
</mapper>